<div class="navbar-header" [ngClass]="fuseConfig.layout.navbar.secondaryBackground">
    <div class="logo">
        <img class="logo-icon" src="assets/images/SholaGrasslands.jpg" width="100" height="100">
    </div>
    <button mat-icon-button class="toggle-sidebar-folded" (click)="toggleSidebarFolded()">
        <span>menu12</span>
    </button>
    <button mat-icon-button class="toggle-sidebar-opened" (click)="toggleSidebarOpened()">
        <span>arrow_back11</span>
    </button>
</div>
<div class="navbar-content" [ngClass]="fuseConfig.layout.navbar.primaryBackground">
    <app-navigation44 layout="vertical"></app-navigation44>
</div>